urllib3==1.13.1
Werkzeug==0.10.4
Flask==0.12.1
Flask-Admin==1.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
Jinja2==2.11.3
requests==2.9.1
SQLAlchemy==1.1.9
SQLAlchemy-Utils==0.32.14
Whoosh==2.7.4
WTForms==2.1
WTForms-Components==0.10.3
argparse==1.2.1
distribute==0.6.24
gunicorn==19.7.1

