<!DOCTYPE html>
<html lang="en">
<head>
  <title>Smart Python</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><img src="/static/img/opengraph.png" width="70" height="80" style="display: inline-block;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
<!--         <li><a href="#">Projects</a></li>
 -->        <li><a href="#">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container text-center">    
  <div class="row content">
    <div class="text-left">
      <h1><b>Smart Coding with python and optimisation</b></h1>
      <p>
        There are various trips and tricks to develop the code for your application efficently with smart work.
      </p>
    </div>
    <!-- <div class="col-sm-2 sidenav" >
      <h1> Bookmark</h1>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div> -->
    <br/>
    <br/>
    <div class="jumbotron col-sm-12 text-left"> 
      <h2>1. Using of python built-in functions.</h2>
      <p>Here various built-in functions are available in python that makes your programming easy and optimised like <strong>lambda, filter, map, reduce</strong> .</p>
      <h3><u>lambda</u> :</h3>
      <p>&nbsp;it is anonymous function in python and also known as single line function in python.it is very usefull to perform operation on particular record set in one line.here example are described as below.</p>
      <p>&nbsp;&nbsp;<b>Syntax:</b> lambda arguments: expression</p>
      <p>&nbsp;&nbsp;<b>Function:</b> f1 = lambda x,y: x+y</p>
      <p>&nbsp;&nbsp;<b>on calling:</b> f1(1,2)</p>
      <p>&nbsp;&nbsp;<b>Output will be:</b> 3</p>
      <hr>
      <h3><u>filter</u> :</h3>
      <p>&nbsp;it is a function which can be used with lambda to filter the items from a given list based upon some expression condition.In below examle we are going to filter the even values from pass list  [1, 2, 3, 4, 4, 5].</p>
      <p>&nbsp;&nbsp;<b>Syntax:</b> filter(lambda arguments: expression)</p>
      <p>&nbsp;&nbsp;<b>Function:</b> filter(lambda x: x%2==0 ,l1)</p>
      <p>&nbsp;&nbsp;<b>on calling:</b> filter(lambda x: x%2==0 ,l1=[1, 2, 3, 4, 4, 5])</p>
      <p>&nbsp;&nbsp;<b>Output will be:</b> [2,4,4]</p>
      <hr>
      <h3><u>map</u> :</h3>
      <p>&nbsp;it is a function which can be used with lambda to map the items of two list values into one list in single line or can be do any kind of mapping if we have two operand kind things.In below example we are going to sum the two list values and results the output.</p>
      <p>&nbsp;&nbsp;<b>Syntax:</b> map(lambda arguments: expression)</p>
      <p>&nbsp;&nbsp;<b>Function:</b> map(lambda x,y: x+y ,l1,l2)</p>
      <p>&nbsp;&nbsp;<b>on calling:</b> map(lambda x,y: x+y ,l1=[1, 2, 3, 4, 4],l2=[1,2,3,4,9])</p>
      <p>&nbsp;&nbsp;<b>Output will be:</b> [2, 4, 6, 8, 13]</p>
      <hr>
      <h3><u>reduce</u> :</h3>
      <p>&nbsp;it is a function which can be used with lambda to reduce the items of a list values or sum of the list values and results single value.like expample we are going to reduce the given list , [1,2,3,4]</p>
      <p>&nbsp;&nbsp;<b>Syntax:</b> reduce(lambda arguments: expression)</p>
      <p>&nbsp;&nbsp;<b>Function:</b> reduce(lambda x,y: x+y ,l1)</p>
      <p>&nbsp;&nbsp;<b>on calling:</b> reduce(lambda x,y: x+y ,l1=[1,2,3,4])</p>
      <p>&nbsp;&nbsp;<b>Output will be:</b> 10</p>
      <!-- <h3>Test</h3>
      <p>Lorem ipsum...</p> -->
    </div>
    <hr/>
    <div class=" jumbotron col-sm-12 text-left"> 
      <h2>2.Be careful to do while sorting, use generators.(By Key)</h2>
      <p>&nbsp;Generators are very usefull when we talk about optimisation in python because they always stored the objects instead of whole value which is usefull for memory allocation.so wwhen we talk about sorting on large data set i prefer to use operator class of python, please follow the examples below.</p>
      <p>&nbsp;&nbsp;<b>Input:</b> l1= [(2,3,9),(1,5,6),(12,1,5)]</p>
      <p>&nbsp;&nbsp;<b>step1:</b>  import operator</p>
      <p>&nbsp;&nbsp;<b>step2:</b>  l1.sort(key=operator.itemgetter(1)) #here you cange it to 0,1 etc  key index</p>
      <p>&nbsp;&nbsp;<b>Output will be:</b> l1= [(12, 1, 5), (2, 3, 9), (1, 5, 6)]</p>
      
    </div>
    <hr/>
    <div class=" jumbotron col-sm-12 text-left"> 
      <h2>3.Try to play with set operations.</h2>
      <p>&nbsp;Set operations are very usefull when we talk about optimise you can easily used on list sequence data structure.</p>
      <p>&nbsp;&nbsp;<b>Input:</b> l1= [(2,3,9),(1,5,6),(12,1,5)]</p>
      <p>&nbsp;&nbsp;<b>step1:</b>  import operator</p>
      <p>&nbsp;&nbsp;<b>step2:</b>  l1.sort(key=operator.itemgetter(1)) #here you cange it to 0,1 etc  key index</p>
      <p>&nbsp;&nbsp;<b>Output will be:</b> l1= [(12, 1, 5), (2, 3, 9), (1, 5, 6)]</p>
      
    </div>
    <hr/>
    <div class=" jumbotron col-sm-12 text-left"> 
      <h2>4.Avoid using the global variable.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <hr/>
    <div class=" jumbotron col-sm-12 text-left"> 
      <h2>5.Don't declare the objects inside the loop, it should be declared first.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <hr/>
    <div class=" jumbotron col-sm-12 text-left"> 
      <h2>6.Try use try and except block instead if, else statement.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <hr/>
    <div class=" jumbotron col-sm-12 text-left"> 
      <h2>7.Use xrange instead of range.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <hr/>
    <div class=" jumbotron col-sm-12 text-left"> 
      <h2>8.Use debugging tools like pyinstrument,cProfile,pstats,timeit etc.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <hr/>
    <div class=" jumbotron col-sm-12 text-left"> 
      <h2>9.Try to write the subfunctions.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <hr/>
    <div class=" jumbotron col-sm-12 text-left"> 
      <h2>10.Use multiprocessing and multithreading.
</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <hr/>
    <div class=" jumbotron col-sm-12 text-left"> 
      <h2>11.While exporting data to excel always try use csv,xlsxwriter.
</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <hr/>
    
    <!--<div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>-->
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Home |Disclaimer © 2017 Python. All Rights Reserved.</p>
</footer>

</body>
</html>
