<!DOCTYPE html>
<html lang="en">
<head>
  <title>Smart Python</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//cdn.ckeditor.com/4.7.2/basic/ckeditor.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  //add the jQuery click/show/hide behaviours (or native JS if you prefer):
    $(document).ready(function(){
        $(".show_form").click(function(){
            if($("#hide_form1").is(":visible")){
                $("#hide_form1").hide();
            } else {
                $("#hide_form1").show();
            }
            //don't follow the link (optional, seen as the link is just an anchor)
            return false;
        });
         $(".show_users").click(function(){
            if($("#hide_users").is(":visible")){
                $("#hide_users").hide();
            } else {
                $("#hide_users").show();
            }
            //don't follow the link (optional, seen as the link is just an anchor)
            return false;
        });
    });
  </script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      margin-top: 30px;
      padding-top: 70px;
      background-color: #ffffff;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      margin-bottom:0px; 
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    #hide_form1{
      display: none;
    }
    #hide_users{
      display: none;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><img src="/static/img/opengraph.png" width="70" height="80" style="display: inline-block;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about_us">About</a></li>
<!--         <li><a href="#">Projects</a></li>
 -->        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> {{name.upper()}}</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid">

  <!-- <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="/add_blog">Add Blog</a></li>
    <li><a data-toggle="tab" href="/all_users">Users</a></li>
    <li><a data-toggle="tab" href="/blog_data">Blog history</a></li>
  </ul> -->
  <div class="col-sm-2 sidenav" >
    {% if user_obj.is_admin==True %}
      <p><a href ="#manage_reply_enquiry" class="show_form" >Add Blog</a></p>
    {% endif %}
      <p><a href="#hide_all_users" class="show_users">All Users</a></p>
      <p><a href ="/blog_history" class="active">Blog History</a></p>
  </div>
  <div class="col-sm-10 well">

  
    <form  id="hide_form1" action="/add" method="POST" enctype="multipart/form-data">
        <legend>Add Blog</legend>
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
        </div>

        <!-- <div class ="form-group">
           <label for="inputfile">Upload Image:</label>
            <input type="file" name="inputfile" accept="image/*" multiple> 
       </div>
         -->
        <div class="form-group">

          <label for="content">Description:</label>
        <textarea class="form-control" rows="5" name="content" id="content" placeholder="Add some text here .." required ></textarea>
        <script>
                  CKEDITOR.replace( 'content' );
              </script>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- all users data -->
    <table id="hide_users" class="table table-bordered">
      <caption><center><b>All Users</b></center></caption>
        <thead>
          <tr>
             {% if user_obj.is_admin==True %}
            <th></th>
             {% endif %}
            <th>UserId</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
           <!--  <th>Create date</th> -->
            {% if user_obj.is_admin==True %}
            <th></th>
             {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for each in users | sort(attribute='id') %}
          <tr>
             {% if user_obj.is_admin==True %}
            <td>
              <a href="{{ url_for('edit_users',user_id=each.id) }}" class="btn btn-success">Edit</a>
            </td>
            {% endif %}
            <td>{{each.id}}</td>
            <td>{{each.username}}</td>
            <td>{{each.password}}</td>
            <td>{{each.email}}</td>
           <!--  <td>{{each.created_date}}</td> -->
            {% if user_obj.is_admin==True %}
            <td>
            <a href="{{ url_for('delete_users',user_id=each.id) }}" >Remove</a>            
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
    </table>

    <!-- blog data -->
    <table id="blog_data" class="table table-bordered">
      <caption><center><b>Blog History</b></center></caption>
        <thead>
          <tr>
             {% if user_obj.is_admin==True %}
            <th></th>
             {% endif %}
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Create Date</th>
             {% if user_obj.is_admin==True %}
            <th></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {%- for message in get_flashed_messages() %}
          {{ message }}
          {%- endfor %}
          {% for each in blog_data %}
          <tr>
             {% if user_obj.is_admin==True %}
             <td>
              <a href="{{ url_for('edit_blog',blog_id=each[0]) }}" class="btn btn-success">Edit</a>
            </td>
             {% endif %}
            
            <td>
            {{each[0]}}
            </td>

            <td>
              {{each[1]}}
            </td>
            <td>
              {{each[2]|safe}}
            </td>
            <td>
              {{each[3]}}
            </td>
             {% if user_obj.is_admin==True %}
            <td>
            <a href="{{ url_for('delete_blog',blog_id=each[0]) }}" >Remove</a>            
            </td>
             {% endif %}
          </tr>
          {% endfor %}
        </tbody>
  </table>
  </div>
</div> 
<div class="container" >

  
  
</div>
  

<footer class="container-fluid text-center">
  <p>Home |Disclaimer © 2017 Python. All Rights Reserved.</p>
</footer>

</body>
</html>
